<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SqliteDBDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>173624241CD4C93F003A6325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1736243D1CD4C93F003A6325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173624481CD4C93F003A6325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
